/* Estilos para el tema oscuro */
body {
  background-color: #f5f5f5;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #c4c4c4;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.output {
  background-color: #222;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 2px;
  cursor: pointer;
  font-size: 18px;
  width: 70px;
}

button:hover {
  background-color: #777;
}

button:active {
  background-color: #444;
}

button.operator {
  background-color: rgb(91, 142, 218);
}

button.operator:hover {
  background-color: #777;
}

button.specialButton {
  background-color: #ff9500;
}

button.specialButton:hover {
  background-color:#777;
}

.modo-oscuro {
  background-color: #646464;
  color: #fff;
  /* Otros estilos para el modo oscuro */
}

body.modo-oscuro {
  background-color: #020202;
  color: #fff;
  font-family: Arial, sans-serif;
}

.switchThemeBtn {
  display: inline-block;
  text-align: center;
}
