/* Estilos para el tema oscuro */
body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #444;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.output {
  background-color: #222;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 2px;
  cursor: pointer;
  font-size: 18px;
  width: 70px;
}

button:hover {
  background-color: #777;
}

button:active {
  background-color: #444;
}

button.operator {
  background-color: #ff9500;
}

button.operator:hover {
  background-color: #ffaa33;
}